pgsql:
  host: localhost
  username: dogecoin_merge
  password: test
  db: dogecoin_merge
dogecoin_repo:
  path: /home/jrn/dogecoin
  branch: upstream/1.9-dev
  committer:
    name: Ross Nicoll
    email: jrn@jrn.me.uk
github:
  private_token: topsecret
